.main-content{
    display: flex;  
    height: 1080px;
    margin: 0 auto;
    padding-top: 218px;
    width: 1349px;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./assets/images/images/fon_trees.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main-content::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.45);
}

.CTA{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 714px;
    width: 619px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 80px;
    background-color: #46332dd0;
}   

h1{
    position: relative;
    margin: 0;
    color: #F5F5F5;
}

h2{
    position: relative;
    margin: 0;
    color: #F5F5F5;
}

.title-1{
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
}

.title-2 p{
    position: relative;
    font-size: 20px;
    margin-top: 25px;
    padding-bottom: 50px;
}

div>p{
    color: #FFDBBB;
}

.main-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    align-items: center;
    height: 714px;
    width: 619px; 
    background-color: #46332dd0;  
}

.image-1{
    display: flex;
    align-self: flex-start;
    margin-left: 50px;
}

.image-2{
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
}

.image-3{
    display: flex;
    align-self: flex-start;
    margin-left: 50px;
}

.title-3{
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 50px;
}

.block {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1050px;
    height: 380px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.table-wood-type{
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table-wood-type p{
    margin: 0 0 15px 0;
}

.table-title{
    text-align: center;
    padding: 15px 0 0px 0;
}

.portfolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-4{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.gallery{
    display: flex;
    position: relative;
    width: 1250px;
    height: 560px;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.gallery img{
    width: 800px;
    height: 500px;
}

.block-advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-5{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.block-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
    margin: 0 auto;
    width: 1050px;
    height: 380px;
    padding: 50px;
}

.block-video{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items:flex-start;
    width: 560px;
}

iframe{
    border-radius: 20px;
}

.block-text{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0;
}

ul{
    list-style-type: none;
    ;
}

li{
    color: #FFDBBB;
    padding-bottom: 20px;
}

.description-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;

}

.block-about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 800px;
    width: 1050px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
    background-color: #46332dd0;
    margin: 0;
}

.title-6{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
}

.text-about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 460px;
    margin: 0;
    padding: 0;
}

.about-images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-right: 50px;
    margin: 0;
    align-items: center;
    height: 800px;
    width: 560px; 
    background-color: #46332dd0;  
}

.image-4{
    display: flex;
    align-self: flex-end;
    margin-left: 50px;
    margin-bottom:-100px;
}

.image-5{
    display: flex;
    align-self: center;
    margin-right: 50px;
}

.image-6{
    display: flex;
    align-self: flex-end;
    margin-left: 50px;
}

.footer{
    width: 1349px;
    height: 300px;
}

.footer__logo{
    width: 197px;
    height: 84px;
    margin: 0;
    padding: 0;
}
