.main-content {
    display: flex;
    height: 1080px;
    margin: 0 auto;
    padding-top: 218px;
    width: 1349px;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./assets/images/images/fon_trees.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.CTA {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 714px;
    width: 619px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 80px;
    background-color: #46332dd0;
}

h1 {
    position: relative;
    margin: 0;
    color: #F5F5F5;
}

.h1_404 {
    justify-content: center;
    font-family: KyivType Sans;
    font-size: 500px;
    font-weight: 900;
    line-height: 539px;
    text-align: center;
    align-items: center;
}

h2 {
    position: relative;
    margin: 0;
    color: #F5F5F5;
}

.h2_404 {
    font-family: KyivType Sans;
    font-size: 90px;
    font-weight: 500;
    text-align: center;

}

.p_404 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.div_404 {
    text-align: center;
}

.title-1 {
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
}

.title-2 {
    position: relative;
    font-size: 20px;
    margin-top: 25px;
}

div>p {
    color: #FFDBBB;
}

thead {
    color: #FFDBBB;
}

.main-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    align-items: center;
    height: 714px;
    width: 619px;
    background-color: #46332dd0;
}

.image-1 {
    display: flex;
    align-self: flex-start;
    margin-left: 50px;
}

.image-2 {
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
}

.image-3 {
    display: flex;
    align-self: flex-start;
    margin-left: 50px;
}

.title-3 {
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 20px;
}

.block {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 50px;
    padding: 10px;
    width: 1050px;
    height: 380px;
    position: relative;
    margin: 0 auto;
}

.table-wood-type {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table-wood-type p {
    margin: 0 0 15px 0;
}

.table-title {
    text-align: center;
    padding: 15px 0 0px 0;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-4 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.gallery {
    display: flex;
    position: relative;
    width: 1250px;
    height: 560px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.gallery img {
    width: 800px;
    height: 500px;
}